<div class="form-header">
  <input #searchInput (keyup.enter)="searchButtonClicked(searchInput.value)" class="au-input au-input-xl" type="text" name="search"
         placeholder="Search for data ..." />
  <button (click)="searchButtonClicked(searchInput.value)" class="au-btn-submit" type="submit">
    Search
  </button>
</div>
