<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
          <div *ngFor="let product of products" class="col-md-3">
            <div class="product-box">
              <a routerLink="/products/{{product.id}}">
                <img src="{{product.imageUrl}}" class="img-responsive">
              </a>
              <div>
                <a routerLink="/products/{{product.id}}" style="position: relative;">
                  <h1>{{product.name}}</h1>
                </a>
              </div>
              <div class="prive" style="font-size: 20px">{{product.unitPrice | currency:'GBP'}}</div>
              <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
            </div>
          </div>
          <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            No products found.
          </div>
      </div>
    </div>
    <div class="footer-pagination">
      <div class="row">
        <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination [(page)]="pageNumber"
                                [maxSize]="5"
                                [rotate]="true"
                                [boundaryLinks]="true"
                                [pageSize]="pageSize"
                                [collectionSize]="totalElements"
                                (pageChange)="listProducts()">
                </ngb-pagination>
              </div>
              <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <select (change)="updatePageSize($event.target.value)">
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
