<table class="table">
  <thead class="thead-dark">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
    <th>Units in stack</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
      <td class="align-middle">
        <img src="{{product.imageUrl}}" height="50"/>
      </td>
      <td>{{product.name}}</td>
      <td>{{product.unitPrice | currency:'GBP'}}</td>
      <td>{{product.unitsInStock}}</td>
  </tr>
  </tbody>
</table>
