<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length > 0">
        <table class="table table-bordered">
          <tr>
            <th width="20%">Product Image</th>
            <th width="50%">Product Details</th>
            <th width="30%"></th>
          </tr>
          <tr *ngFor="let cartItem of cartItems">
            <td>
              <img src="{{cartItem.imageUrl}}" class="img-responsive" width="150px"/>
            </td>
            <td>
              <p>{{cartItem.name}}</p>
              <p>{{cartItem.unitPrice | currency:'GBP'}}</p>
            </td>
            <td>
              <div class="items">
                <label>Quantity:</label>
                <button (click)="inclementQuantity(cartItem)" class="btn-primary btn-sm ml-2 mr-2"><i class="fas fa-plus"></i> </button>
                {{cartItem.quantity}}
                <button (click)="decrementQuantity(cartItem)" class="btn-primary btn-sm ml-2 mr-2"><i class="fas fa-minus"></i> </button>
              </div>
              <button (click)="remove(cartItem)" class="btn btn-primary btn-sm">Remove</button>
              <p class="mt-2">Subtotal: {{cartItem.quantity * cartItem.unitPrice | currency:'GBP'}}</p>
            </td>
          </tr>
        </table>
        <tr>
          <td colspan="2"></td>
          <td style="font-weight: bold">
            <p>Total Quantity: {{totalQuantity}}</p>
            <p>Shipping: FREE</p>
            <p>Total Price: {{totalPrice | currency: 'GBP'}}</p>
          </td>
        </tr>
        <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
      </div>
      <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
        Your shopping cart is empty
      </div>
    </div>
  </div>
</div>

