<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
<!--    Place dinamic component here-->
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search-component></app-search-component>
            <app-cart-stat></app-cart-stat>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
<!--    <app-product-list></app-product-list>-->



  </div>
</div>

<!--Footer-->
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
