<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div style="">
          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                  <div *ngIf="firstName.errors.required">
                    First Name is required
                  </div>
                  <div *ngIf="firstName.errors.minlength || firstName.errors.noWhiteSpaces">
                    First Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength || lastName.errors.noWhiteSpaces">
                    Last Name must be at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Email must match the following pattern: example@test.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getCounty('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>County</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="county">
                  <option *ngFor="let county of shippingAddressCounties" [ngValue]="county">
                    {{county.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Postcode</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="postcode" type="text">
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box to copy shipping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>


        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getCounty('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{country.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>County</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="county">
                  <option *ngFor="let county of billingAddressCounties" [ngValue]="county">
                    {{county.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Postcode</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="postcode" type="text">
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit card details</h3>

          <div class="row">
            <div class="col-md-2"><label>Card type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardType" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Cardholder's name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Card number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Security code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Expiration month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCartMonth">
                    {{month}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"><label>Expiration year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthAndYears()">
                  <option *ngFor="let year of creditCartYears">
                    {{year}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{totalPrice | currency: 'GBP'}}</p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
